.abc{
    padding: 20px;
}
.def .abc{
    padding-bottom: 20px;
}
.abc label{
    display: block;
}
.abc input[type="text"], .def textarea{
    padding: 8px;
    width: 100%;
}
.btn{
    padding: 20px;
    text-align: center;
    font-size: 15px;
    width: 100px;
    background-color: skyblue;
    outline: none;
    border: none;
    border-radius: 10px;
    color: greenyellow;
    font-weight: bold;
    text-transform: uppercase;
}
.btn:hover{
    background-color: blue;
    color: lightblue;
}
.btn:active{
    background-color: aqua;
    color: blanchedalmond;
}